<h2>new Review</h2>
<form action="/review/newRevCine/<%=cineId%>" method="post">
  <label for="comment">comment</label>
  <input type="text" id="comment" name="comment" required="require"/>
  <label for="rating">rating</label>
  <input type="number" id="rating" name="rating" max='5'/>
  <button type="submit">New</button>
</form>
