<p>Welcome HOME falta el nombre del username</p>

<div><a href="/theater/list"><button>List Theaters</button></a></div>
<div><a href="/cine/list"><button>List Cines</button></a></div>
<div><a href="/review/listByUser"><button>List My reviews</button></a></div>
<div><a href="/user/edit"><button>Edit profile</button></a></div>
